vendor/etc/camera/vidhance.lic
vendor/lib64/libarcsoft_turbo_hdr_raw.so
vendor/lib64/libarcsoft_turbo_motion_capture_raw.so
vendor/lib64/libdeep_raw_models.so
vendor/lib64/libsuper_airaw.so
product/priv-app/Messages/Messages.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/MotCamera4/MotCamera4.apk
product/priv-app/MotoDesktop/MotoDesktop.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/AiServices/AiServices.apk
product/priv-app/MotoAppUIRefresh/MotoAppUIRefresh.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/Photos/Photos.apk
product/app/Gmail2/Gmail2.apk
product/etc/motorola/aicore/AiCore_gemma2b.bin
recovery.img
bootRE/boot.elf
