system/priv-app/ZuiBrowser/lib/arm64/libwebviewchromium.so
system/priv-app/CallAssistant/CallAssistant.apk
vendor/lib64/libdeep_raw_models.so
vendor/lib64/libsuper_airaw.so
vendor/lib64/libarcsoft_turbo_hdr_raw.so
vendor/lib64/libarcsoft_turbo_motion_capture_raw.so
vendor/etc/camera/vidhance.lic
bootRE/boot.elf
recovery.img
product/preinstall/MotoStylus/MotoStylus.apk
product/preinstall/MotoPrint/MotoPrint.apk
product/preinstall/JingDong/JingDong.apk
product/preinstall/MotoDesktop/MotoDesktop.apk
product/preinstall/Weibo/oat/arm64/Weibo.vdex
product/preinstall/Weibo/Weibo.apk
product/preinstall/Douyin/Douyin.apk
product/preinstall/WPSoffice/WPSoffice.apk
product/preinstall/WPSoffice/oat/arm64/WPSoffice.vdex
product/preinstall/LenovoSmartHome/LenovoSmartHome.apk
product/preinstall/QQMusic/QQMusic.apk
product/preinstall/LenovoSmartScanner/LenovoSmartScanner.apk
product/preinstall/BaiduSearch/BaiduSearch.apk
product/preinstall/BaiduSearch/oat/arm64/BaiduSearch.vdex
product/preinstall/Wallet/Wallet.apk
product/priv-app/AiServices/AiServices.apk
product/priv-app/MotCamera4/MotCamera4.apk
product/priv-app/HDR10Plus/HDR10Plus.apk
product/priv-app/Smartservice/Smartservice.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/MotoIconPackage/MotoIconPackage.apk
product/app/AliGenAIServer/AliGenAIServer.apk
product/app/MultimodalService/MultimodalService.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/etc/motorola/multimodal/image_encoder_quantized.serialized.bin
